@import url('https://fonts.googleapis.com/css?family=Lato:100i|Quicksand&display=swap');

html {
	background: #FFEB3B;
	padding: 20px;
	font-family: 'Quicksand', sans-serif;
}

#gameName {
	text-transform: uppercase;
	padding: 5px 45px;
	border: 1px solid rgb(30,30,30);
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	width: 95px;
	background: rgb(100,255,150);
	font-size: 16px;
	size: 20px;
	box-shadow: 0px 0px black;
	transition: all 1s ease;
}

#gameName:hover {
	box-shadow: 10px 0px black;
	transition: all 0.6s ease;
}

#score {
	font-size: 25px;
}

#maxloadbar {
	font-size: 25px;
}

#button1 {
	font-family: 'Quicksand', sans-serif;
	background: #2196F3;
	text-decoration-color: rgb(30,30,30);
	border-radius: 10px;
	box-shadow: 0px 0px black;
	text-shadow: 0px 0px 10px black;
	font-size: 15px;
	margin: 10px;
	padding: 10px;
	transition: all 1.5s ease;
}

#button1:hover {
	background: #00BCD4;
	box-shadow: 10px 10px black;
	transition: all 0.6s ease; 
}

#twoclicks {
	font-family: 'Quicksand', sans-serif;
	background: rgb(0, 0, 0);
	text-decoration-color: rgb(30,30,30);
	border-radius: 10px;
	box-shadow: 1em 0px white;
	text-shadow: 0px 0px 10px black;
	font-size: 15px;
	color:white;
	margin: 10px;
	padding: 10px;
	transition: all 1.5s ease; 
}

#twoclicks:hover {
	box-shadow: 4em 0px black;
	background: rgb(255, 255, 255);
	color:black;
	transition: all 0.6s ease; 
}

#tclicks {
	font-size: 25px;
}



#loadbar {
	border: 2px solid #2196F3;
	background-size: 90px;
	margin:10px;
}

#clickspc {
	font-size: 25px;
}